/* Fonts & Colors */
.font-h3 {
  font-size: 1.052em !important;
  color: #1a488e99;
}
.font-h6 {
  font-size: 0.626em;
  color: #1a488e66;
}
.font-h1 {
  font-size: 1.45em !important;
}
.font-h3,
h3 {
  font-size: 1.4em !important;
  letter-spacing: 0.01em;
}
.font-h4 {
  font-size: 0.921em !important;
}
.font-h5,
h5 {
  font-size: 0.79em !important;
  letter-spacing: 0.01em;
}

.color-awe {
  color: #3c81a3;
}

.color-secondary-dark {
  color: #092147 !important;
}
.color-secondary-hint {
  color: #09214766;
}

/* Font & COlors End */
.card-heading {
  padding: 3.65vh 2vw 0;
}
.card-body {
  padding: 0 !important;
}
.card-content {
  height: 40%;
}
.balance {
  vertical-align: middle;
  display: inline-block;
  margin-top: 8vh;
  text-align: center;
  width: 100%;
}

.balance .row {
  text-align: center !important;
}

.text-bold {
  font-weight: 700 !important;
}
.coin-selector-body {
  width: 100%;
  height: 9vh;
  margin-top: 40px;
  margin-bottom: 30px;
}

.left-button {
  cursor: pointer;
  padding: 0;
  transform: rotate(180deg) translateY(-5px);
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
  background: 0 0;
}

.wrapper-container {
  display: inline-flex;
  width: calc(100% - 4vw);
  height: 100%;
  overflow-y: scroll;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  scrollbar-width: none;
}

.wrapper-container::-webkit-scrollbar {
  display: none;
}

.coin-select-wrapper {
  white-space: nowrap;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}
.coin-select-container {
  display: inline-block;
  height: 100%;
  width: auto;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}
.coin-select-btn,
.coin-select-btn span {
  vertical-align: middle;
}
.coin-select-btn {
  height: 48%;
  width: 5.2vw;
  color: #092147;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 0 8px 16px #1a488e14;
  padding: 0;
  margin: 0 0.5vw;
  line-height: 1vw;
  display: inline-block;
}
.coin-holder {
  display: inline-block;
  width: 1.66vw;
  height: 1.66vw;
  background-color: #fff;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 0 8px #1a488e1f;
  padding: 0;
  line-height: 0;
  vertical-align: middle;
}

.coin-holder.small {
  display: flex;
  width: 1.181vw;
  height: 1.181vw;
  margin-right: 0.5vw;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
}

.coin-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.coin-holder.main {
  width: 2.3vw;
  height: 2.3vw;
}
.rate-section {
  margin-bottom: 46px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.card-action-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  z-index: 2;
}

/* Card 2 */
.card12 {
  font-family: karla, sans-serif;
  color: #1a488e99;
  font-size: 12px;
}
.card2 {
  display: flex;
}
#carncy {
  border: none;
}
.inpt {
  border: none;
}
.termt {
  font-family: karla, sans-serif;
  color: #1a488e99;
  font-size: 15px;
}
.btn {
  font-size: 15px;
}
.otrtxt {
  text-align: center;
  font-size: 10px;
  color: rgba(105, 105, 105, 0.603);
}
/* Card 2 */
/* Card 3 */
.trade-item {
  display: flex;
  justify-content: "space-around";
  box-shadow: "3px 5px 10px 0px rgba(0,0,0,0.2)";
  padding: "5px 5px";
  border-radius: "10px";
}
/* Card 3 End */
